html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --secondery-white-color: #ffffff99;
  --black-text-color: #000000;
  --primery-bg-color: #f5f5f5;
  --secondery-bg-color: #f5f4fa;
  --white-bg-color: #ffffff;
  --black-bg-color: #2f303a;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--primery-text-color);
  background-color: var(--white-bg-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  /* outline: 2px solid tomato; */
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* головний колір #757575 */
/* вторинний колір #212121 */
/* акцент #2196F3 */
/* білий #FFFFFF */
/* білий вторинний #FFFFFF99 */
/* чорний #000000 */

/* вторинний колір фону #F5F4FA*/
/* герой, футер #2F303A */

/* СТИЛІ ДЛЯ INDEX.HTML*/

/*----------------header------------------*/

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
}

.page-navigation {
  display: flex;
}

.page-navigator-logo {
  margin-right: 93px;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-studio {
  color: var(--black-text-color);
}

/*----------------- site-nav---------------*/

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.site-nav-link.current {
  color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

/*----------------- auth-nav----------------- */

.auth-nav-item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav {
  margin-left: auto;
}

.auth-nav {
  display: flex;
  align-items: center;
}

.auth-nav-link {
  display: block;
  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}
/* -----------------------section---------------------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section.team {
  background-color: var(--secondery-bg-color);
}

/*----------------------- hero---------------------- */

.hero {
  text-align: center;
  background-color: var(--black-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;

  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* -----------------button---------------- */

.button {
  min-width: 73px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--white-bg-color);

  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding: 6px 22px;

  cursor: pointer;
  text-align: center;
}

.hero-button {
}

.button.primery {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

/*------------------ section---------------- */

/*------------------- features-------------- */
.feature-item {
  width: 270px;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-list-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/*--------------------work and team----------*/

.work-section {
  padding-top: 0;
}

.work-list {
  display: flex;
  column-gap: 30px;
}

.work-list-item {
  width: calc((100% - 2 * 30px) / 3);
}

.team-list {
  display: flex;
  column-gap: 30px;
}

.team-list-item {
  width: calc((100% - 3 * 30px) / 4);
}

.work-list .title,
.team-list .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-list-description {
  text-align: center;
  flex-grow: 1;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-title {
  padding-top: 30px;
  margin-bottom: 10px;
}

/*-------------------- footer-------------- */

.footer {
  background-color: var(--black-bg-color);
}

.footer .logo {
  padding-top: 60px;
  margin-bottom: 20px;
}

.footer-nav {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-nav-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-nav .link:hover,
.footer-nav .link:focus {
  color: var(--accent-color);
}

.logo-footer {
  color: var(--white-text-color);
}

.footer-nav .address {
  color: var(--white-text-color);
  text-decoration: none;
}

.footer-nav .link {
  color: var(--secondery-white-color);
  text-decoration: none;
}

/*--------------------- СТИЛІ ДЛЯ ПОРТФОЛІО------------------ */

/*----------------- filters------------------- */

.filters {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  text-align: center;
  margin-bottom: 34px;
}

.button.secondary {
  min-width: 73px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--secondery-bg-color);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

/*------------------- projects----------------- */

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

a.portfolio {
  text-decoration: none;
}

.portfolio {
  height: 100%;
}

.project-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects .text {
  color: var(--primery-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
}

.project-item {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  flex-grow: 1;
}
