:root {
--primery-text-color:#757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--white-text-color: #FFFFFF;
--secondery-white-color: #FFFFFF99;
--black-text-color: #000000;
--primery-bg-color: #F5F5F5;
--secondery-bg-color: #F5F4FA;
--white-bg-color : #FFFFFF;
--black-bg-color: #2F303A;
}




body {
    font-family: 'Roboto', sans-serif;
    color: var(--primery-text-color);
    background-color:var(--primery-bg-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

.list {
    list-style: none;
}


/* головний колір #757575 */ 
/* вторинний колір #212121 */
/* акцент #2196F3 */
/* білий #FFFFFF */
/* білий вторинний #FFFFFF99 */
/* чорний #000000 */

/* вторинний колір фону #F5F4FA*/
/* герой, футер #2F303A */

/* СТИЛІ ДЛЯ INDEX.HTML*/


/*header*/

.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

}

.logo-studio {
    color:var(--black-text-color);
}


/* site-nav*/

.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}


/* auth-nav */

.auth-nav .link {
    color: var(--primery-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

}

.auth-nav .link:hover, 
.auth-nav .link:focus {
    color: var(--accent-color);
}


/* hero */

.hero {
    background-color: var(--black-bg-color);
}

.hero-title {
    color: var(--white-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    color: var(--title-text-color);
    background-color: var(--white-bg-color);

    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    cursor: pointer;
}

.button.primery {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

/* section */

.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* features */

.feature-list .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}


/*work and team*/

.work-list .title,
.team-list .title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

/* footer */

.footer {
    background-color: var(--black-bg-color);
}

.footer-nav {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.footer-nav .link:hover,
.footer-nav .link:focus {
    color: var(--accent-color);
}

.logo-footer {
    color: var(--white-text-color);
}

.footer-nav .address {
    color: var(--white-text-color);
    text-decoration: none;
}

.footer-nav .link {
    color: var(--secondery-white-color);
    text-decoration: none;
}

/* СТИЛІ ДЛЯ ПОРТФОЛІО */

/* filters */

.button.secondary { 
    color: var(--title-text-color);
    background-color: var(--secondery-bg-color);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

/* projects */

a.portfolio {
    text-decoration: none;
}

.project-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .text {
    color: var(--primery-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.86;
}

